/*
API documentation can be found at https://material-ui.com/api/slider/
*/

.price-slider {
  background-color: #fff;
  border-radius: 10px;
  padding: 5px 15px;
  width: 120px;
}

#slider-title {
  font-family: 'Work Sans', sans-serif;
  font-size: 0.9rem;
  text-align: center;
}
